*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PT Sans', sans-serif;   
    background: #ff7800;
}
.container{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
/*-----------HEADER-------------*/
.container .header{
    background: #012D74;
    padding: 8px;
    display: flex;
    justify-content: left;
    position: fixed; /* para que sea un header FIJO */
    left: 0;
    top: 0;
    right: 0;
}
.imgBrand{
    height: 40px;
    margin: 0;
    padding: 0px 20px;
}
/* Brand */
.cardIcon{
    width: 50px;
    padding: 10px;
} 
.cardIcon a i{
    font-size: 29px;
    padding: auto;
    color: #fff;
}
.title{
    font-size: 20px;
    color: #fff;
}
.bankTitle{
    font-size: 38px;
    color: #fff;
}
/*---------------Slider------------- */
#leftSlider{
    width: 35%;
    float: left;
    overflow: hidden;/* para que las imagenes que pongan una sobre otra es decir se oculten */
    box-sizing: border-box;
}
#leftSlider ul{
    display: flex;
    padding: 0;
    width: 400%;
    /* start animation */
    animation: change 20s infinite alternate;/* contraction animation-direction:alternate */
    animation-timing-function: ease-in;/* curva de animacion hace que lo haga mas lento */
}
#leftSlider li{
    width: 100%;
    list-style: none;

}
#leftSlider .imgLeft{
    width: 100%;/* se cambio de 100% */
    height: 100%;
}
@keyframes change{ /* paradas --> img dura 4s cambio 1s*/
    0% {margin-left: 0;}
    20% {margin-left: 0;}/* 1 img (20*0.2)= 4s */

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
/*-------------SideRight-------------- */
.titleCard{
    color: #fff;
}
.hidden{
    display: none;
}
.show{
   display: grid;
}
#right{
    background: #ff7800;
    width: 65%;
    padding: 100px 60px;
    float: left;
    box-sizing: border-box;
}
.titleVerifica{
    color: #002a8d;
    padding: 50px 30px;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}
.form{
    padding: 0px 20px;
}
#btnRegresar{
    background-color: #ff7800;  /* Green */
    border: 2px solid #fff; /* Green */
    width: 190px;
    outline: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

/* INPUT */ 
#right label{
    margin: 0;
    padding: 2px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: #012D74;
}
#right input{   
    width: 100%;
    margin-bottom: 20px;
}
#right input[type="text"], #right input[type="text"] {
    border: none;
    border-bottom: 2px solid #F2F4F8;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
.button{
    background-color: #ff7800;  /* Green */
    border: 2px solid #fff; /* Green */
    outline: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.textAlert{
    color: #002a8d;
    font-size: 20px;
}
.designBoxImg{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px 20px 0px 20px;
}
.designImg{
    padding: 50px 50px 0px 50px;
    width: 350px;
}
.designButtonVA{/* button validate and again */
    display: flex;
    justify-content: center;
    padding: 5px;
}
.button:hover{
    background: #002a8d;
}
.hiddenCard{
    display: none;
}
.ImgCards{
   display: flex;
   justify-content: center;
}
#imgAmericanExpress, #imgJCB, #imgVisa,
#imgDiscover, #imgMasterCard{
    width: 90px;
}
#michi{
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 10px 10px 30px 10px;
}
/* ---------FOOTER---------*/
.footer{
    background: #cecfd1;
    text-align: center;
    float: left;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}
/* RESPONSIVE */
@media screen and (max-width: 800px) {
    #leftSlider{
        display: none;
    }
    #right{
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .container{
        width: 100%;
    }
    #leftSlider{
        display: none;
    }
}
@media screen and (max-width: 360px) {
    body{
        background: #ffb778;
    }
    .container{
        width: 100%;
    }
    .bankTitle{
       display: none;
    }
    .cardIcon{
        display: none;
    } 
    #leftSlider{
        display: none;
    }
    #right{
        background: #ffb778;
    }
    .form{
        padding: 0px;
    }
    .titleVerifica{
        font-size: 30px;
        padding: 10px;
    }
    #michi{
        font-size: 15px;
        color: #fff;
        text-align: center;
        padding: 10px 10px 30px 10px;
    }
    .designImg{
        width: 70%;
        padding: 60px 20px;
    }
    .footer{
        display: none;
    }
}